
{
  "provider": "vagrant",
  "vagrant_options": {
    "box": "opscode-ubuntu-12.04",
    "box_url": "http://opscode-vm-bento.s3.amazonaws.com/vagrant/virtualbox/opscode_ubuntu-12.04_chef-provisionerless.box",
    "disk2_size": "2"
  },
  "apply_ec_bugfixes": false,
  "default_package":   "chef-server-core_12.0.6-1_amd64.deb",
  "manage_package":    "opscode-manage_1.11.2-1_amd64.deb",
  "reporting_package": "opscode-reporting_1.2.3-1_amd64.deb",
  "packages": {
  },
  "layout": {
    "topology": "tier",
    "analytics_topology": "tier",
    "api_fqdn": "api.ubuntu.vagrant",
    "manage_fqdn": "manage.ubuntu.vagrant",
    "analytics_fqdn": "analytics.ubuntu.vagrant",
    "backend_vip": {
      "hostname": "backend.ubuntu.vagrant",
      "ipaddress": "33.33.33.21",
      "heartbeat_device": "eth2",
      "device": "eth1"
    },
    "backends": {
      "backend1": {
        "hostname": "backend1.ubuntu.vagrant",
        "ipaddress": "33.33.33.21",
        "cluster_ipaddress": "33.33.34.5",
        "memory": "2560",
        "cpus": "2",
        "bootstrap": true
      }
    },
    "frontends": {
      "frontend1": {
        "hostname": "frontend1.ubuntu.vagrant",
        "ipaddress": "33.33.33.23",
        "memory": "1024",
        "cpus": "1"
      }
    },
    "analytics_backends": {
      "analytics-backend1": {
        "hostname": "analytics-backend.ubuntu.vagrant",
        "ipaddress": "33.33.33.24",
        "memory": "1024",
        "cpus": "1",
        "bootstrap": true
      }
    },
    "analytics_frontends": {
      "analytics-frontend1": {
        "hostname": "analytics-frontend1.ubuntu.vagrant",
        "ipaddress": "33.33.33.25",
        "memory": "1024",
        "cpus": "1"
      }
    },
    "analytics_backend_vip": {
      "hostname": "analytics-backend.ubuntu.vagrant",
      "ipaddress": "33.33.33.24",
      "heartbeat_device": "eth2",
      "device": "eth1"
    },
    "virtual_hosts": {
      "private-chef.ubuntu.vagrant": "33.33.33.23",
      "manage.ubuntu.vagrant": "33.33.33.23",
      "api.ubuntu.vagrant": "33.33.33.23",
      "analytics.ubuntu.vagrant": "33.33.33.25",
      "analytics-backend.ubuntu.vagrant": "33.33.33.24",
      "analytics-frontend1.ubuntu.vagrant": "33.33.33.25",
      "backend.ubuntu.vagrant": "33.33.33.21",
      "backend1.ubuntu.vagrant": "33.33.33.21",
      "frontend1.ubuntu.vagrant": "33.33.33.23"
    }
  }
}
